<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="819b92">  <td>20/08/07 15:43:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithFitbitDevice.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@79be0360]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="819b92">  <td>20/08/07 15:43:31</td>   <td>12343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithFitbitDevice.syncWithFitbitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@79be0360]">syncWithFitbitFunctionality</td> 
  <td>main@32863545</td>   <td></td> </tr>
<tr bgcolor="819b92">  <td>20/08/07 15:44:05</td>   <td>47017</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithFitbitDevice.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@79be0360]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@32863545</td>   <td></td> </tr>
</table>
