<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c67e">  <td>20/08/07 15:47:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollALiveSessionWithPaypal.openbrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithPaypal@9660f4e]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="67c67e">  <td>20/08/07 15:47:56</td>   <td>13753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollALiveSessionWithPaypal.bookALiveSessionWithPaypalFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithPaypal@9660f4e]">bookALiveSessionWithPaypalFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="67c67e">  <td>20/08/07 15:49:55</td>   <td>132179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EnrollALiveSessionWithPaypal.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithPaypal@9660f4e]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>20/08/07 15:49:55</td>   <td>132911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollALiveSessionWithCreditOrDebitCard.openbrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithCreditOrDebitCard@5a8806ef]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>20/08/07 15:50:07</td>   <td>144690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollALiveSessionWithCreditOrDebitCard.enrollALiveSessionWithCreditOrDebitCardFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithCreditOrDebitCard@5a8806ef]">enrollALiveSessionWithCreditOrDebitCardFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>20/08/07 15:51:57</td>   <td>254347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EnrollALiveSessionWithCreditOrDebitCard.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.EnrollALiveSessionWithCreditOrDebitCard@5a8806ef]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/08/07 15:51:58</td>   <td>255138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithGoogleFit.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithGoogleFit@6c49835d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/08/07 15:52:11</td>   <td>268123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithGoogleFit.syncWithGoogleFitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithGoogleFit@6c49835d]">syncWithGoogleFitFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>20/08/07 15:52:46</td>   <td>303784</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithGoogleFit.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithGoogleFit@6c49835d]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/08/07 15:52:47</td>   <td>304452</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithMisfitDevice.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithMisfitDevice@5e853265]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/08/07 15:53:00</td>   <td>317345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithMisfitDevice.syncWithMisfitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithMisfitDevice@5e853265]">syncWithMisfitFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a86dd7">  <td>20/08/07 15:53:33</td>   <td>350226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithMisfitDevice.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithMisfitDevice@5e853265]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>20/08/07 15:53:33</td>   <td>350905</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithWithingsDevice.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithWithingsDevice@67205a84]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>20/08/07 15:53:49</td>   <td>366879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithWithingsDevice.syncWithWithingsFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithWithingsDevice@67205a84]">syncWithWithingsFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a863b6">  <td>20/08/07 15:54:25</td>   <td>402395</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithWithingsDevice.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithWithingsDevice@67205a84]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/08/07 15:54:26</td>   <td>403104</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookLogin.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.FacebookLogin@7d0587f1]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/08/07 15:54:37</td>   <td>414852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLogin.facebookLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.FacebookLogin@7d0587f1]">facebookLoginFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e87285">  <td>20/08/07 15:54:55</td>   <td>432989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookLogin.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.FacebookLogin@7d0587f1]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/08/07 15:55:00</td>   <td>437076</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChatFunctionality.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.ChatFunctionality@5d76b067]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/08/07 15:55:12</td>   <td>449983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChatFunctionality.chatFunctionality()[pri:0, instance:com.fitbase.qa.checklistTestcases.ChatFunctionality@5d76b067]">chatFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/08/07 15:57:05</td>   <td>562176</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChatFunctionality.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.ChatFunctionality@5d76b067]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/08/07 15:57:05</td>   <td>562880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithStravaDevice.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithStravaDevice@2a17b7b6]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/08/07 15:57:19</td>   <td>576550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithStravaDevice.syncWithStravaFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithStravaDevice@2a17b7b6]">syncWithStravaFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/08/07 15:57:57</td>   <td>614870</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithStravaDevice.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithStravaDevice@2a17b7b6]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/08/07 15:57:58</td>   <td>615558</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openbrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.Login@4f063c0a]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/08/07 15:58:10</td>   <td>627337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.Login@4f063c0a]">loginFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/08/07 15:58:40</td>   <td>658013</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.Login@4f063c0a]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/08/07 15:58:41</td>   <td>658709</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleLogin.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.GoogleLogin@1e6d1014]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/08/07 15:58:57</td>   <td>674267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleLogin.googleLoginFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.GoogleLogin@1e6d1014]">googleLoginFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>20/08/07 15:59:22</td>   <td>699795</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleLogin.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.GoogleLogin@1e6d1014]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/08/07 15:59:23</td>   <td>700451</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPassword.openbrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.ForgotPassword@76707e36]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/08/07 15:59:34</td>   <td>711991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPassword.forgotPasswordFunctionality(java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.ForgotPassword@76707e36]">forgotPasswordFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/08/07 15:59:37</td>   <td>714086</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ForgotPassword.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.ForgotPassword@76707e36]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a29665">  <td>20/08/07 15:59:37</td>   <td>714756</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SyncWithFitbitDevice.openBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@614ddd49]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a29665">  <td>20/08/07 15:59:49</td>   <td>726533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SyncWithFitbitDevice.syncWithFitbitFunctionality(java.lang.String, java.lang.String)[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@614ddd49]">syncWithFitbitFunctionality</td> 
  <td>main@809762318</td>   <td></td> </tr>
<tr bgcolor="a29665">  <td>20/08/07 16:00:23</td>   <td>760989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SyncWithFitbitDevice.quitBrowser()[pri:0, instance:com.fitbase.qa.checklistTestcases.SyncWithFitbitDevice@614ddd49]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@809762318</td>   <td></td> </tr>
</table>
