<h2>Reporter output</h2><table><tr><td>Booking a live session with using paypal is executed successfully</td></tr>
<tr><td>Booking a live session with using a credit or debit card is executed successfully...</td></tr>
<tr><td>Sync with Google Fit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Misfit device testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Withings device testcase has executed sucessfully....</td></tr>
<tr><td>Login with Facebook testcase has been executed successfully...</td></tr>
<tr><td>Chat functionality testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Strava device testcase has executed sucessfully....</td></tr>
<tr><td>Normal login testcase has executed sucessfully....</td></tr>
<tr><td>Login with Google testcase has been executed successfully...</td></tr>
<tr><td>Forgot password testcase has executed sucessfully....</td></tr>
<tr><td>Sync with Fitbit device testcase has executed sucessfully....</td></tr>
</table>